$gris = #4f4646
$white = #ffffff
$black = #000000
$primary = #66298C

html
	line-height 1.15
	-webkit-text-size-adjust 100%
	box-sizing border-box
body
	margin 0
	background #fff
h1 
	font-size 2em
	margin 0.67em 0
hr 
	box-sizing content-box
	height 0
	overflow visible
	background-color #ccc
	border 0
	height 1px
	margin-bottom 1.5em
pre 
	font-family monospace, monospace
	font-size 1em
	background #eee
	font-family "Courier 10 Pitch", Courier, monospace
	font-size 15px
	font-size 0.9375rem
	line-height 1.6
	margin-bottom 1.6em
	max-width 100%
	overflow auto
	padding 1.6em
.main-navigation 
	clear both
	display block
	float right
	width 100%
	ul 
		display none
		list-style none
		margin 0
		padding-left 0
		display block
		ul 
			box-shadow 0 3px 3px rgba(0, 0, 0, 0.2)
			float left
			position absolute
			top 100%
			left -999em
			z-index 99999
			ul 
				left -999em
				top 0
			a 
				width 200px
	li 
		float left
		position relative
	a 
		display block
		text-decoration none
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul 
	left 100%
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul 
	left auto
.menu-toggle,
.main-navigation.toggled ul 
	display block
@media screen and (min-width:37.5em)
	.menu-toggle
		display none
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation 
	margin 0 0 1.5em
	overflow hidden
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous 
	float left
	width 50%
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next 
	float right
	text-align right
	width 50%
.screen-reader-text 
	border 0
	clip rect(1px, 1px, 1px, 1px)
	clip-path inset(50%)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute !important
	width 1px
	word-wrap normal !important
	&:focus 
		background-color #f1f1f1
		border-radius 3px
		box-shadow 0 0 2px 2px rgba(0, 0, 0, 0.6)
		clip auto !important
		clip-path none
		color #21759b
		display block
		font-size 14px
		font-size 0.875rem
		font-weight bold
		height auto
		left 5px
		line-height normal
		padding 15px 23px 14px
		text-decoration none
		top 5px
		width auto
		z-index 100000
#content
	min-height calc(100vh - 75px - 74px)
#content[tabindex="-1"]:focus 
	outline 0
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after 
	content ""
	display table
	table-layout fixed
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after 
	clear both
.widget 
	margin 0 0 1.5em
	select 
		max-width 100%
.sticky 
	display block
/*.post,
.page 
	margin 0 0 1.5em*/
.updated 
	&:not(.published) 
		display none
.page-content,
.entry-content,
.entry-summary 
	margin 1.5em 0 0
.page-links 
	clear both
	margin 0 0 1.5em
.comment-content 
	a 
		word-wrap break-word
.bypostauthor 
	display block
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer 
	display none
.infinity-end 
	&.neverending 
		.site-footer 
			display block
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley 
	border none
	margin-bottom 0
	margin-top 0
	padding 0
embed,
iframe,
object 
	max-width 100%
.custom-logo-link 
	display inline-block
.wp-caption 
	margin-bottom 1.5em
	max-width 100%
	img[class*="wp-image-"] 
		display block
		margin-left auto
		margin-right auto
	.wp-caption-text 
		margin 0.8075em 0
.wp-caption-text 
	text-align center
.gallery 
	margin-bottom 1.5em
.gallery-item 
	display inline-block
	text-align center
	vertical-align top
	width 100%
.gallery-columns-2 
	.gallery-item 
		max-width 50%
.gallery-columns-3 
	.gallery-item 
		max-width 33.33%
.gallery-columns-4 
	.gallery-item 
		max-width 25%
.gallery-columns-5 
	.gallery-item 
		max-width 20%
.gallery-columns-6 
	.gallery-item 
		max-width 16.66%
.gallery-columns-7 
	.gallery-item 
		max-width 14.28%
.gallery-columns-8 
	.gallery-item 
		max-width 12.5%
.gallery-columns-9 
	.gallery-item 
		max-width 11.11%
.gallery-caption 
	display block

#page
	position relative

.banner-principal
	.imagenFondo
		background-position center
		height calc(100vh - 75px)
		display flex
		align-items center
		color white
		padding 10px
		.rectangulo
			margin-left 15vh
			max-width 440px
			width 100%
			color white
			background-color rgba($gris, 0.8)
			padding 25px 75px 25px 45px
			border-radius 15px
			@media (max-width: 991.98px)
				padding 25px 30px
				margin auto
			h1
				font-size 3.500rem
				@media (max-width: 691.98px)
					font-size 2.500rem
			p
		
.site-footer
	padding 25px
	text-align center

//@import "./css/sensei.styl"



.bg
	&-oreninc
		background-image linear-gradient(to bottom, rgba($primary, 0.2), rgba($primary, 0))
	&-oreninc-inv
		background-image linear-gradient(to bottom,  rgba($primary, 0), rgba($primary, 0.2))
		//background-color lighten($primary, 50)



.alertify-notifier
	.ajs-message
		color $white
